
<div id="component-container">
  <img class="picture" src="assets/{{pictureUrl}}" />

  <div class="name-container">
    <div class="name">{{name}}</div>
    <div class="room-name">Room #{{roomNumber}}</div>
  </div>

  <div class="graph">
    <canvas baseChart height="80"
            [datasets]="lineChartData"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [chartType]="lineChartType"></canvas>
  </div>

  <div class="bpm-current-container">
    <div class="bpm-current">{{bpm}}</div>
    <div class="bpm-title">bpm</div>
  </div>

  <div class="bpm-stats-container">

    <div class="bpm-stats">
      <div class="bpm-stat-container">
        <div class="bpm-stat-item">{{statistics.min}}</div>
        <div class="bpm-stat-title">min</div>
      </div>

      <div class="bpm-stat-container">
        <div class="bpm-stat-item">{{statistics.avg}}</div>
        <div class="bpm-stat-title">avg</div>
      </div>

      <div class="bpm-stat-container">
        <div class="bpm-stat-item">{{statistics.max}}</div>
        <div class="bpm-stat-title">max</div>
      </div>
    </div>

    <div class="bpm-stats-notes-container">
      <div class="bpm-stats-left-border"></div>
      <div class="bpm-stats-notes"> last 10 min</div>
      <div class="bpm-stats-right-border"></div>
    </div>

  </div>

  <div class="battery-container">
    <div [class.battery-hide]="battery < 80" class="battery-5-top"></div>
    <div [class.battery-hide]="battery < 80" class="battery-5"></div>
    <div [class.battery-hide]="battery < 60" class="battery-4"></div>
    <div [class.battery-hide]="battery < 40" class="battery-3"></div>
    <div [class.battery-hide]="battery < 20" class="battery-2"></div>
    <div [class.battery-hide]="" class="battery-1"></div>
  </div>

</div>
